.category-page{
  .category-page-section{
    text-align: center;
    padding-bottom: 40px;
    .cb-title{
      text-align: center;
      margin-bottom: 24px;
    }
    .load-more{
      font-size: 16px;
      line-height: 1.5;
      color: #ffffff;
      border-radius: 5px;
      background-color: #f7992c;
      padding: 8px 16px;
      cursor: pointer;
      border: none;
      outline: none;
      &::hover{
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
      }
    }
    .category-box{
      .cat-box{
        padding: 0;
        display: none;
      }
      .img-box{
        margin: 0;
        &::after, &::before{
          display: none;
        }
      }
      .content{
        padding: 24px;
        text-align: left;
        h3{
          font-size: 16px;
          line-height: 24px;
          color: #000000;
          font-weight: bold;
          margin-bottom: 16px;
          min-height: 48px;
        }
      }
    }
  }
  .other-cat{
    background-color: #ebebeb;
    padding: 40px 0;
    margin-bottom: 40px;
    .cb-title{
      text-align: center;
      margin-bottom: 36px;
      // margin-bottom: ;
    }
    .other-carousel{
      .item{
        padding: 20px;
        border-radius: 5px;
        background-color: #ffffff;
        margin-bottom: 24px;
        cursor: pointer;
        .img-box{
          margin-bottom: 12px;
          position: relative;
          left: 0;
          top: 0;
          img{
            width: 100%;
            position: relative;
            left: 0;
            top: 0;
            z-index: 1;
          }
        }
        .content{
          justify-content: space-between;
          align-items: center;
          .text{
            h2{
              font-size: 20px;
              line-height: 1.5;
              color: #000000;
              font-weight: bold;
              font-family: "SF Pro Display";
              margin-bottom: 4px;
            }
            p{
              font-size: 12px;
              line-height: 1.5;
              color: #000000;
              font-family: "SF Pro Display";
            }
          }
          .link{
            .btn{
              font-size: 12px;
              line-height: 1.5;
              color: #f7992c;
              font-family: "SF Pro Display";
              .arrow {
                border: solid #f7992c;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 3px;
              }
              .right {
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1199.98px) { 
  .category-page .category-page-section .category-box .cat-box{
    width: calc(50% - 16px);
  }
}
@media (max-width: 991.98px) {

  .category-page .category-page-section .category-box .content h3{
    font-size: 14px;
    margin-bottom: 4px;
    min-height: auto;
  }
  .category-page .category-page-section .category-box .content {
    padding: 16px;
  }
  .other-carousel .owl-nav button.owl-prev, .other-carousel .owl-nav button.owl-next {
    position: static;
  }
  .category-page .category-page-section {
    padding-bottom: 40px;
  }
  .category-page .other-cat {
    padding: 32px 0;
    margin-bottom: 36px;
  }
  .category-page .other-cat .cb-title {
    margin-bottom: 16px;
  }
  .category-page .other-cat .other-carousel .item .content .text h2 {
    font-size: 18px;
  }
}
@media (max-width: 767.98px) { 
  .category-page .category-page-section .category-box .cat-box{
    width: 100%;
  }
}