<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <link href="./favicon.png" rel="icon" />
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body data-barba="wrapper">

    <div class="wrapper category-page" data-barba="container" data-barba-namespace="home" id="playPopupYtVid">
      <header class="acc-header inernal-click" id="top-menu">
        
      </header>
      
      <main class="main-warpper" >
        <section class="banner-section">
          <div class="container">
            <div class="di-flex">
              <article>
                <div id="bannerCarousel" class="owl-carousel owl-theme banner-carousel">
                  <div class="item">
                    <div class="banner-item">
                      <img src="<%= require('./img/bg/banner-1.jpg') %>" alt="" class="bg-img">
                      <div class="content">
                        <div class="text-content">
                          <h1><a href="#!">It’s Time for Music Lovers to Unite <br>
                          Welcome to Arunachal Pradesh’s <br>
                          Ziro Music Festival</a></h1>
                          <!-- <a href="#!" class="read-more">Read More <i class="arrow right"></i></a> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="banner-item">
                      <img src="<%= require('./img/bg/banner-1.jpg') %>" alt="" class="bg-img">
                      <div class="content">
                        <div class="text-content">
                          <h1><a href="#!">It’s Time for Music Lovers to Unite <br>
                          Welcome to Arunachal Pradesh’s <br>
                          Ziro Music Festival</a> </h1>
                          <!-- <a href="#!" class="read-more">Read More <i class="arrow right"></i></a> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cat-row" id="catNavBar">
                  <nav class="owl-carousel owl-theme category-carousel" id="catNav">
                    <div class="item">
                      <a href="#!" class="gotoSection" data-to-section="experiences">Experiences</a>
                    </div>
                    <div class="item">
                      <a href="#!" class="gotoSection" data-to-section="placestoVisit">Places to Visit</a>
                    </div>
                    <div class="item">
                      <a href="#!" class="gotoSection" data-to-section="thingstoDo">Things to Do</a>
                    </div>
                    <div class="item">
                      <a href="#!" class="gotoSection" data-to-section="forKids">For Kids</a>
                    </div>
                    <div class="item">
                      <a href="#!" class="gotoSection" data-to-section="food">Food</a>
                    </div>
                    <div class="item">
                      <a href="#!" class="gotoSection" data-to-section="travelStories">Travel Stories</a>
                    </div>
                    <div class="item">
                      <a href="#!" class="gotoSection" data-to-section="travelGuide">Travel Guide</a>
                    </div>
                    <div class="item">
                    </div>
                  </nav>
                </div>
              </article>
              <aside>
                <div class="form-container">
                  <form class="form-content" id="connectUs">
                    <div class="col-input">
                      <div class="control">
                        <input type="text" class="form-control" name="fname" id="fname" placeholder="Name"
                         required>
                      </div>
                      <p class="invalid">Please enter the valid name.</p>
                    </div>
                    <div class="col-input">
                      <div class="control">
                        <input class="form-control allNumber" type="tel" placeholder="Mobile Number" maxlength="10" required>
                      </div>
                      <p class="invalid">Please enter the valid name.</p>
                    </div>
                    <div class="col-input">
                      <div class="control">
                        <select class="form-control" required id="age_group">
                          <option value="" disabled="" selected="">Age group</option>  
                          <option value="<24">&lt;24</option>  
                          <option value="25-28">25-28</option>  
                          <option value="29-35">29-35</option>  
                          <option value="36-49">36-49</option>  
                          <option value="50-55">50-55</option>  
                          <option value=">55">&gt;55</option>   
                        </select>
                      </div>
                      <p class="invalid">Please enter the valid age.</p>
                    </div>
                    <div class="col-input">
                      <div class="control">
                        <input class="form-control" type="email" placeholder="Email" required>
                      </div>
                      <p class="invalid">Please enter the valid email.</p>
                    </div>
                    <div class="col-input width-100">
                      <div class="control">
                        <!-- <input type="text" class="form-control" required placeholder="Where are you from?"> -->
                          <select class="form-control" required="" >
                            <option value="" disabled="" selected="">Current City</option>
                            <option value="Ahmedabad">Ahmedabad</option>
                            <option value="Bangalore">Bangalore</option>
                            <option value="Chandigarh">Chandigarh</option>
                            <option value="Chennai">Chennai</option>
                            <option value="New Delhi">New Delhi</option>
                            <option value="Hyderabad">Hyderabad</option>
                            <option value="Jaipur">Jaipur</option>
                            <option value="Cochin">Cochin</option>
                            <option value="Kolkata">Kolkata</option>
                            <option value="Lucknow">Lucknow</option>
                            <option value="Mumbai">Mumbai</option>
                            <option value="Pune">Pune</option>
                            <option value="" disabled="true">-------</option>
                            <option value="Abohar">Abohar</option>
                            <option value="Agartala">Agartala</option>
                            <option value="Agra">Agra</option>
                            <option value="Ahmednagar">Ahmednagar</option>
                            <option value="Ajmer">Ajmer</option>
                            <option value="Akola">Akola</option>
                            <option value="Alapuzha">Alapuzha</option>
                            <option value="Aligarh">Aligarh</option>
                            <option value="Allahabad">Allahabad</option>
                            <option value="Ambala">Ambala</option>
                            <option value="Amravati">Amravati</option>
                            <option value="Amritsar">Amritsar</option>
                            <option value="Anand">Anand</option>
                            <option value="Asansol">Asansol</option>
                            <option value="Ashtamudi">Ashtamudi</option>
                            <option value="Aurangabad">Aurangabad</option>
                            <option value="Auroville">Auroville</option>
                            <option value="Ballarpur">Ballarpur</option>
                            <option value="Bareilly">Bareilly</option>
                            <option value="Barnala">Barnala</option>
                            <option value="Baroda">Baroda</option>
                            <option value="Barpeta">Barpeta</option>
                            <option value="Batala">Batala</option>
                            <option value="Berhampur">Berhampur</option>
                            <option value="Belgaum">Belgaum</option>
                            <option value="Bellary">Bellary</option>
                            <option value="Bharatpur">Bharatpur</option>
                            <option value="Bharuch">Bharuch</option>
                            <option value="Bhavnagar">Bhavnagar</option>
                            <option value="Bhilai">Bhilai</option>
                            <option value="Bhillai">Bhillai</option>
                            <option value="Bhilwara">Bhilwara</option>
                            <option value="Bhiwadi">Bhiwadi</option>
                            <option value="Bhopal">Bhopal</option>
                            <option value="Bhuvaneshwar">Bhuvaneshwar</option>
                            <option value="Bijapur">Bijapur</option>
                            <option value="Bikaner">Bikaner</option>
                            <option value="Bilaspur">Bilaspur</option>
                            <option value="Binsar">Binsar</option>
                            <option value="Bokaro">Bokaro</option>
                            <option value="Bongaigaon">Bongaigaon</option>
                            <option value="Calicut">Calicut</option>
                            <option value="Chamba">Chamba</option>
                            <option value="Chandrapur">Chandrapur</option>
                            <option value="Chikmagalur">Chikmagalur</option>
                            <option value="Coimbatore">Coimbatore</option>
                            <option value="Coorg">Coorg</option>
                            <option value="Corbett">Corbett</option>
                            <option value="Cuddalore">Cuddalore</option>
                            <option value="Cuttack">Cuttack</option>
                            <option value="Dahanu Road">Dahanu Road</option>
                            <option value="Daman">Daman</option>
                            <option value="Darjeeling">Darjeeling</option>
                            <option value="Davangere">Davangere</option>
                            <option value="Dehradun">Dehradun</option>
                            <option value="Dhamtari">Dhamtari</option>
                            <option value="Dhanbad">Dhanbad</option>
                            <option value="Dharamsala">Dharamsala</option>
                            <option value="Dibrugarh">Dibrugarh</option>
                            <option value="Dimapur">Dimapur</option>
                            <option value="Dhuri">Dhuri</option>
                            <option value="Dubai">Dubai</option>
                            <option value="Durg">Durg</option>
                            <option value="Durgapur">Durgapur</option>
                            <option value="Dwarka">Dwarka</option>
                            <option value="Ernakulam">Ernakulam</option>
                            <option value="Erode">Erode</option>
                            <option value="Faizabad">Faizabad</option>
                            <option value="Faridabad">Faridabad</option>
                            <option value="Faridkot">Faridkot</option>
                            <option value="Fazlika">Fazlika</option>
                            <option value="Ferozepur">Ferozepur</option>
                            <option value="Gandhidham">Gandhidham</option>
                            <option value="Gandhinagar">Gandhinagar</option>
                            <option value="Ganga Nagar">Ganga Nagar</option>
                            <option value="Gangtok">Gangtok</option>
                            <option value="Ghaziabad">Ghaziabad</option>
                            <option value="Goa">Goa</option>
                            <option value="Gobindgarh">Gobindgarh</option>
                            <option value="Gorakhpur">Gorakhpur</option>
                            <option value="Gulbarga">Gulbarga</option>
                            <option value="Guntur">Guntur</option>
                            <option value="Gurdaspur">Gurdaspur</option>
                            <option value="Gurgaon">Gurgaon</option>
                            <option value="Guwahati">Guwahati</option>
                            <option value="Gwalior">Gwalior</option>
                            <option value="Hamirpur">Hamirpur</option>
                            <option value="Hanumangarh">Hanumangarh</option>
                            <option value="Haridwar">Haridwar</option>
                            <option value="Haryana">Haryana</option>
                            <option value="Hassan">Hassan</option>
                            <option value="Hastinapur">Hastinapur</option>
                            <option value="H.P.">H.P.</option>
                            <option value="Himmat Nagar">Himmat Nagar</option>
                            <option value="Hospet">Hospet</option>
                            <option value="Hosur">Hosur</option>
                            <option value="Howrah">Howrah</option>
                            <option value="Hubli">Hubli</option>
                            <option value="Imphal">Imphal</option>
                            <option value="Indore">Indore</option>
                            <option value="Jabalpur">Jabalpur</option>
                            <option value="Jagraon">Jagraon</option>
                            <option value="Jaisalmer">Jaisalmer</option>
                            <option value="Jalandhar">Jalandhar</option>
                            <option value="Jalgaon">Jalgaon</option>
                            <option value="Jammu">Jammu</option>
                            <option value="Jamnagar">Jamnagar</option>
                            <option value="Jamshedpur">Jamshedpur</option>
                            <option value="Jhansi">Jhansi</option>
                            <option value="Jharkhand">Jharkhand</option>
                            <option value="Jodhpur">Jodhpur</option>
                            <option value="Jorhat">Jorhat</option>
                            <option value="Kakinada">Kakinada</option>
                            <option value="Kalyan">Kalyan</option>
                            <option value="Kangra">Kangra</option>
                            <option value="Kanpur">Kanpur</option>
                            <option value="Kannur">Kannur</option>
                            <option value="Kapurthala">Kapurthala</option>
                            <option value="Karad">Karad</option>
                            <option value="Karnal">Karnal</option>
                            <option value="Kasargod">Kasargod</option>
                            <option value="Khanna">Khanna</option>
                            <option value="Kharar">Kharar</option>
                            <option value="Kharagpur">Kharagpur</option>
                            <option value="Kollam">Kollam</option>
                            <option value="Kolhapur">Kolhapur</option>
                            <option value="Korba">Korba</option>
                            <option value="Kota">Kota</option>
                            <option value="Kotkapura">Kotkapura</option>
                            <option value="Kottayam">Kottayam</option>
                            <option value="Kozhikode">Kozhikode</option>
                            <option value="Kufri">Kufri</option>
                            <option value="Kumbakonam">Kumbakonam</option>
                            <option value="Kurnool">Kurnool</option>
                            <option value="Kumbalgarh">Kumbalgarh</option>
                            <option value="Kuwait">Kuwait</option>
                            <option value="Lakhimpur">Lakhimpur</option>
                            <option value="Ludhiana">Ludhiana</option>
                            <option value="Madurai">Madurai</option>
                            <option value="Mahabaleshwar">Mahabaleshwar</option>
                            <option value="Malerkotla">Malerkotla</option>
                            <option value="Manali">Manali</option>
                            <option value="Mandi">Mandi</option>
                            <option value="Mangalore">Mangalore</option>
                            <option value="Mansa">Mansa</option>
                            <option value="Mathura">Mathura</option>
                            <option value="Meerut">Meerut</option>
                            <option value="Moga">Moga</option>
                            <option value="Mohali">Mohali</option>
                            <option value="Moradabad">Moradabad</option>
                            <option value="Mount Abu">Mount Abu</option>
                            <option value="Muktsar">Muktsar</option>
                            <option value="Munnar">Munnar</option>
                            <option value="Mysore">Mysore</option>
                            <option value="Nagaon">Nagaon</option>
                            <option value="Nagerkoil">Nagerkoil</option>
                            <option value="Nagpur">Nagpur</option>
                            <option value="Nainital">Nainital</option>
                            <option value="Nakodar">Nakodar</option>
                            <option value="Namakkal">Namakkal</option>
                            <option value="Nanded">Nanded</option>
                            <option value="Nashik">Nashik</option>
                            <option value="Navi Mumbai">Navi Mumbai</option>
                            <option value="Nawanshahr">Nawanshahr</option>
                            <option value="NCR">NCR</option>
                            <option value="Nellore">Nellore</option>
                            <option value="Noida">Noida</option>
                            <option value="Ooty">Ooty</option>
                            <option value="Palanpur">Palanpur</option>
                            <option value="Palampur">Palampur</option>
                            <option value="Palghat">Palghat</option>
                            <option value="Pali">Pali</option>
                            <option value="Panchkula">Panchkula</option>
                            <option value="Panipat">Panipat</option>
                            <option value="Panvel">Panvel</option>
                            <option value="Parbhani">Parbhani</option>
                            <option value="Pathankot">Pathankot</option>
                            <option value="Patiala">Patiala</option>
                            <option value="Patna">Patna</option>
                            <option value="Phagwara">Phagwara</option>
                            <option value="Phillaur">Phillaur</option>
                            <option value="Pinjore">Pinjore</option>
                            <option value="Pondicherry">Pondicherry</option>
                            <option value="Rae Bareli">Rae Bareli</option>
                            <!--<option value="Raikot">Raikot</option> -->
                            <option value="Raipur">Raipur</option>
                            <option value="Rajamundry">Rajamundry</option>
                            <option value="Rajkot">Rajkot</option>
                            <option value="Rajnandgaon">Rajnandgaon</option>
                            <option value="Rajpura">Rajpura</option>
                            <option value="Ranchi">Ranchi</option>
                            <option value="Rankuwa">Rankuwa</option>
                            <option value="Ratlam">Ratlam</option>
                            <option value="Ratnagiri">Ratnagiri</option>
                            <option value="Renukoot">Renukoot</option>
                            <option value="Roorkee">Roorkee</option>
                            <option value="Ropar">Ropar</option>
                            <option value="Rourkela">Rourkela</option>
                            <option value="Salem">Salem</option>
                            <option value="Sambhalpur">Sambhalpur</option>
                            <option value="Samrala">Samrala</option>
                            <option value="Sangli">Sangli</option>
                            <option value="Sangrur">Sangrur</option>
                            <option value="Satara">Satara</option>
                            <option value="Secundarabad">Secundarabad</option>
                            <option value="Shahdol">Shahdol</option>
                            <option value="Shillong">Shillong</option>
                            <option value="Shimoga">Shimoga</option>
                            <option value="Shimla">Shimla</option>
                            <option value="Sholapur">Sholapur</option>
                            <option value="Silchar">Silchar</option>
                            <option value="Siliguri">Siliguri</option>
                            <option value="Silvassa">Silvassa</option>
                            <option value="Sirhind">Sirhind</option>
                            <option value="Sitapur">Sitapur</option>
                            <option value="Sivasagar">Sivasagar</option>
                            <option value="Siwan">Siwan</option>
                            <option value="Solan">Solan</option>
                            <option value="Srinagar">Srinagar</option>
                            <option value="Surat">Surat</option>
                            <option value="Tezpur">Tezpur</option>
                            <option value="Thane">Thane</option>
                            <option value="Thekkady">Thekkady</option>
                            <option value="Thrissur">Thrissur</option>
                            <option value="Tinsukia">Tinsukia</option>
                            <option value="Tirunelveli">Tirunelveli</option>
                            <option value="Tirupati">Tirupati</option>
                            <option value="Tirupur">Tirupur</option>
                            <option value="Tiruvananthapuram">Tiruvananthapuram</option>
                            <option value="Trichy">Trichy</option>
                            <option value="Trivandrum">Trivandrum</option>
                            <option value="Tuticorin">Tuticorin</option>
                            <option value="Udaipur">Udaipur</option>
                            <option value="Udupi">Udupi</option>
                            <option value="Ujjain">Ujjain</option>
                            <option value="Una">Una</option>
                            <option value="Uttranchal">Uttranchal</option>
                            <option value="Vadodara">Vadodara</option>
                            <option value="Valsad">Valsad</option>
                            <option value="Vapi">Vapi</option>
                            <option value="Varanasi">Varanasi</option>
                            <option value="Vellore">Vellore</option>
                            <option value="Vijayawada">Vijayawada</option>
                            <option value="Vishakhapatnam">Vishakhapatnam</option>
                            <option value="Warangal">Warangal</option>
                            <option value="Wayanad">Wayanad</option>
                            <option value="Yavatmal">Yavatmal</option>
                            <option value="Yercaud">Yercaud</option>
                            <option value="Zira">Zira</option>
                            <option value="Zirakpur">Zirakpur</option>

                          </select>
                      </div>
                      <p class="invalid">Please enter the Where are you from.</p>
                    </div>
                    <div class="col-input select-input width-100">
                      <div class="control">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" class="form-control check-box" required>
                        <label for="vehicle1" class="label">I authorize Club Mahindra to call/email/SMS/Whatsapp me for membership plans and ongoing promotions and offers</label>
                      </div>
                      <p class="invalid">Please select.</p>
                    </div>
                  </form>
                  <button type="submit" data-form-id="connectUs" 
                      class="formSumit submit-btn width-100">Submit</button>
                </div>
              </aside>
          </div>

        </div>
        </section>
        <section class="category-section category-page-section ">
          <div class="container">
            <h2 class="cb-title">Places to Visit</h2>
            <div class="di-flex category-box">
              <a href="#!" class="cat-box">
                <div class="img-box">
                  <img src="<%= require('./img/1-other.jpg') %>" alt="">
                </div>
                <div class="content">
                  <h3>Know the Important Tourist Places in and Around Wayanad</h3>
                  <div class="link">
                    <div class="btn" href="#!">Read More <i class="arrow right"></i></div>
                  </div>
                </div>
              </a>
              <a href="#!" class="cat-box">
                <div class="img-box">
                  <img src="<%= require('./img/2-other.webp') %>" alt="">
                </div>
                <div class="content">
                  <h3>Why You Should Visit Madhya Pradesh During Monsoon</h3>
                  <div class="link">
                    <div class="btn" href="#!">Read More <i class="arrow right"></i></div>
                  </div>
                </div>
              </a>
              <a href="#!" class="cat-box">
                <div class="img-box">
                  <img src="<%= require('./img/3-other.webp') %>" alt="">
                </div>
                <div class="content">
                  <h3>The 7 Best Places To Visit in Kanchipuram</h3>
                  <div class="link">
                    <div class="btn" href="#!">Read More <i class="arrow right"></i></div>
                  </div>
                </div>
              </a>
              <a href="#!" class="cat-box">
                <div class="img-box">
                  <img src="<%= require('./img/4-other.webp') %>" alt="">
                </div>
                <div class="content">
                  <h3>5 Romantic Getaways During Winter for Couples</h3>
                  <div class="link">
                    <div class="btn" href="#!">Read More <i class="arrow right"></i></div>
                  </div>
                </div>
              </a>

              <a href="#!" class="cat-box">
                <div class="img-box">
                  <img src="<%= require('./img/5-other.webp') %>" alt="">
                </div>
                <div class="content">
                  <h3>5 Places to Visit Outside India during Christmas and New Year</h3>
                  <div class="link">
                    <div class="btn" href="#!">Read More <i class="arrow right"></i></div>
                  </div>
                </div>
              </a>
              <a href="#!" class="cat-box">
                <div class="img-box">
                  <img src="<%= require('./img/6-other.webp') %>" alt="">
                </div>
                <div class="content">
                  <h3>In Search of Snow: 5 Places in India to Experience Snowfall</h3>
                  <div class="link">
                    <div class="btn" href="#!">Read More <i class="arrow right"></i></div>
                  </div>
                </div>
              </a>
              <a href="#!" class="cat-box">
                <div class="img-box">
                  <img src="<%= require('./img/7-other.webp') %>" alt="">
                </div>
                <div class="content">
                  <h3>Best Places To Visit In India During Autumn Season</h3>
                  <div class="link">
                    <div class="btn" href="#!">Read More <i class="arrow right"></i></div>
                  </div>
                </div>
              </a>
              <a href="#!" class="cat-box">
                <div class="img-box">
                  <img src="<%= require('./img/8-other.webp') %>" alt="">
                </div>
                <div class="content">
                  <h3>Why You Should Visit Madhya Pradesh During Monsoon</h3>
                  <div class="link">
                    <div class="btn" href="#!">Read More <i class="arrow right"></i></div>
                  </div>
                </div>
              </a>
              <a href="#!" class="cat-box">
                <div class="img-box">
                  <img src="<%= require('./img/9-other.webp') %>" alt="">
                </div>
                <div class="content">
                  <h3>The Best Places in India For Family Weekend Getaway</h3>
                  <div class="link">
                    <div class="btn" href="#!">Read More <i class="arrow right"></i></div>
                  </div>
                </div>
              </a>
              <a href="#!" class="cat-box">
                <div class="img-box">
                  <img src="<%= require('./img/experiences.jpg') %>" alt="">
                </div>
                <div class="content">
                  <h3>Know the Important Tourist Places in and Around Wayanad</h3>
                  <div class="link">
                    <div class="btn" href="#!">Read More <i class="arrow right"></i></div>
                  </div>
                </div>
              </a>
              <a href="#!" class="cat-box">
                <div class="img-box">
                  <img src="<%= require('./img/experiences.jpg') %>" alt="">
                </div>
                <div class="content">
                  <h3>Know the Important Tourist Places in and Around Wayanad</h3>
                  <div class="link">
                    <div class="btn" href="#!">Read More <i class="arrow right"></i></div>
                  </div>
                </div>
              </a>
              <a href="#!" class="cat-box">
                <div class="img-box">
                  <img src="<%= require('./img/experiences.jpg') %>" alt="">
                </div>
                <div class="content">
                  <h3>Know the Important Tourist Places in and Around Wayanad</h3>
                  <div class="link">
                    <div class="btn" href="#!">Read More <i class="arrow right"></i></div>
                  </div>
                </div>
              </a>
              <a href="#!" class="cat-box">
                <div class="img-box">
                  <img src="<%= require('./img/experiences.jpg') %>" alt="">
                </div>
                <div class="content">
                  <h3>Know the Important Tourist Places in and Around Wayanad</h3>
                  <div class="link">
                    <div class="btn" href="#!">Read More <i class="arrow right"></i></div>
                  </div>
                </div>
              </a>
              <a href="#!" class="cat-box">
                <div class="img-box">
                  <img src="<%= require('./img/experiences.jpg') %>" alt="">
                </div>
                <div class="content">
                  <h3>Know the Important Tourist Places in and Around Wayanad</h3>
                  <div class="link">
                    <div class="btn" href="#!">Read More <i class="arrow right"></i></div>
                  </div>
                </div>
              </a>
              <a href="#!" class="cat-box">
                <div class="img-box">
                  <img src="<%= require('./img/experiences.jpg') %>" alt="">
                </div>
                <div class="content">
                  <h3>Know the Important Tourist Places in and Around Wayanad</h3>
                  <div class="link">
                    <div class="btn" href="#!">Read More <i class="arrow right"></i></div>
                  </div>
                </div>
              </a>
              <a href="#!" class="cat-box">
                <div class="img-box">
                  <img src="<%= require('./img/experiences.jpg') %>" alt="">
                </div>
                <div class="content">
                  <h3>Know the Important Tourist Places in and Around Wayanad</h3>
                  <div class="link">
                    <div class="btn" href="#!">Read More <i class="arrow right"></i></div>
                  </div>
                </div>
              </a>
              <a href="#!" class="cat-box">
                <div class="img-box">
                  <img src="<%= require('./img/experiences.jpg') %>" alt="">
                </div>
                <div class="content">
                  <h3>Know the Important Tourist Places in and Around Wayanad</h3>
                  <div class="link">
                    <div class="btn" href="#!">Read More <i class="arrow right"></i></div>
                  </div>
                </div>
              </a>
              <a href="#!" class="cat-box">
                <div class="img-box">
                  <img src="<%= require('./img/experiences.jpg') %>" alt="">
                </div>
                <div class="content">
                  <h3>Know the Important Tourist Places in and Around Wayanad</h3>
                  <div class="link">
                    <div class="btn" href="#!">Read More <i class="arrow right"></i></div>
                  </div>
                </div>
              </a>
              <a href="#!" class="cat-box">
                <div class="img-box">
                  <img src="<%= require('./img/experiences.jpg') %>" alt="">
                </div>
                <div class="content">
                  <h3>Know the Important Tourist Places in and Around Wayanad</h3>
                  <div class="link">
                    <div class="btn" href="#!">Read More <i class="arrow right"></i></div>
                  </div>
                </div>
              </a>
              <a href="#!" class="cat-box">
                <div class="img-box">
                  <img src="<%= require('./img/experiences.jpg') %>" alt="">
                </div>
                <div class="content">
                  <h3>Know the Important Tourist Places in and Around Wayanad</h3>
                  <div class="link">
                    <div class="btn" href="#!">Read More <i class="arrow right"></i></div>
                  </div>
                </div>
              </a>
              <a href="#!" class="cat-box">
                <div class="img-box">
                  <img src="<%= require('./img/experiences.jpg') %>" alt="">
                </div>
                <div class="content">
                  <h3>Know the Important Tourist Places in and Around Wayanad</h3>
                  <div class="link">
                    <div class="btn" href="#!">Read More <i class="arrow right"></i></div>
                  </div>
                </div>
              </a>
              <a href="#!" class="cat-box">
                <div class="img-box">
                  <img src="<%= require('./img/experiences.jpg') %>" alt="">
                </div>
                <div class="content">
                  <h3>Know the Important Tourist Places in and Around Wayanad</h3>
                  <div class="link">
                    <div class="btn" href="#!">Read More <i class="arrow right"></i></div>
                  </div>
                </div>
              </a>
              <a href="#!" class="cat-box">
                <div class="img-box">
                  <img src="<%= require('./img/experiences.jpg') %>" alt="">
                </div>
                <div class="content">
                  <h3>Know the Important Tourist Places in and Around Wayanad</h3>
                  <div class="link">
                    <div class="btn" href="#!">Read More <i class="arrow right"></i></div>
                  </div>
                </div>
              </a>
              <a href="#!" class="cat-box">
                <div class="img-box">
                  <img src="<%= require('./img/experiences.jpg') %>" alt="">
                </div>
                <div class="content">
                  <h3>Know the Important Tourist Places in and Around Wayanad</h3>
                  <div class="link">
                    <div class="btn" href="#!">Read More <i class="arrow right"></i></div>
                  </div>
                </div>
              </a>
              <a href="#!" class="cat-box">
                <div class="img-box">
                  <img src="<%= require('./img/experiences.jpg') %>" alt="">
                </div>
                <div class="content">
                  <h3>Know the Important Tourist Places in and Around Wayanad</h3>
                  <div class="link">
                    <div class="btn" href="#!">Read More <i class="arrow right"></i></div>
                  </div>
                </div>
              </a>
              

            </div>
            <button class="load-more readMoreCat" type="button">Load More</button>
          </div>
        </section>
        <section class="other-cat">
          <div class="container">
              <h2 class="cb-title">Other Categories</h2>
              <div id="otherCategory" class="owl-carousel owl-theme other-carousel">
                <div class="item">
                  <a href="#!" class="cat-box">
                    <div class="img-box">
                      <img src="<%= require('./img/experiences.jpg') %>" alt="">
                    </div>
                    <div class="di-flex content">
                      <div class="text">
                        <h2>Experiences</h2>
                        <p>156 Articles </p>
                      </div>
                      <div class="link">
                        <div class="btn" href="#!">Explore all  <i class="arrow right"></i></div>
                      </div>
                    </div>
                  </a>
  
                  
                </div>
                <div class="item">
                  <a href="#!" class="cat-box">
                    <div class="img-box">
                      <img src="<%= require('./img/Things-to-do.jpg') %>" alt="">
                    </div>
                    <div class="di-flex content">
                      <div class="text">
                        <h2>Experiences</h2>
                        <p>156 Articles </p>
                      </div>
                      <div class="link">
                        <div class="btn" href="#!">Explore all  <i class="arrow right"></i></div>
                      </div>
                    </div>
                  </a>
  
                  
                </div>
                <div class="item">
                  <a href="#!" class="cat-box">
                    <div class="img-box">
                      <img src="<%= require('./img/For-Kids.jpg') %>" alt="">
                    </div>
                    <div class="di-flex content">
                      <div class="text">
                        <h2>Things to Do</h2>
                        <p>156 Articles </p>
                      </div>
                      <div class="link">
                        <div class="btn" href="#!">Explore all  <i class="arrow right"></i></div>
                      </div>
                    </div>
                  </a>
                  
                </div>
                <div class="item">
                  <a href="#!" class="cat-box">
                    <div class="img-box">
                      <img src="<%= require('./img/experiences.jpg') %>" alt="">
                    </div>
                    <div class="di-flex content">
                      <div class="text">
                        <h2>For Kids</h2>
                        <p>156 Articles </p>
                      </div>
                      <div class="link">
                        <div class="btn" href="#!">Explore all  <i class="arrow right"></i></div>
                      </div>
                    </div>
                  </a>
                  
                </div>
              </div>
          </div>
        </section>
      </main>
    </div>
    
    <footer></footer>
    <a href="#!" class="sticky-btn-book-apt gotToForm effect-btn mutiStepForm_open">JOIN THE CLUB</a>
    
  </body>
</html>
