<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <link href="./favicon.png" rel="icon" />
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body data-barba="wrapper">

    <div class="wrapper detail-page" data-barba="container" data-barba-namespace="home">
      <header class="acc-header inernal-click" id="top-menu">
      </header>
      
      <main class="main-warpper home-page " >
        <section class="banner-section">
          <div class="container">
            <div class="di-flex">
              <article>
                <div class="banner-carousel">
                  <div class="item">
                    <div class="banner-item">
                      <img src="<%= require('./img/bg/banner-1.jpg') %>" alt="" class="bg-img">
                      <div class="content">
                        <div class="text-content">
                          <h1><a href="#!">It’s Time for Music Lovers to Unite <br>
                            Welcome to Arunachal Pradesh’s <br>
                            Ziro Music Festival</a></h1>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </article>
              <aside>
                <div class="form-container">
                  <h2>Fill in the form below & we’ll reach out!</h2>
                  <form class="form-content" id="connectUs">
                    <div class="col-input">
                      <div class="control">
                        <input type="text" class="form-control" name="fname" id="fname" placeholder="Name"
                         required>
                      </div>
                      <p class="invalid">Please enter the valid name.</p>
                    </div>
                    <div class="col-input">
                      <div class="control">
                        <input class="form-control" type="tel" placeholder="Mobile Number" maxlength="10"
                           required>
                      </div>
                      <p class="invalid">Please enter the valid name.</p>
                    </div>
                    <div class="col-input">
                      <div class="control">
                        <input class="form-control" type="tel" placeholder="Age" maxlength="2"
                           required>
                      </div>
                      <p class="invalid">Please enter the valid age.</p>
                    </div>
                    <div class="col-input">
                      <div class="control">
                        <input class="form-control" type="email" placeholder="Email" required>
                      </div>
                      <p class="invalid">Please enter the valid email.</p>
                    </div>
                    <div class="col-input width-100">
                      <div class="control">
                        <input type="text" class="form-control" required placeholder="Where are you from?">
                      </div>
                      <p class="invalid">Please enter the Where are you from.</p>
                    </div>
                    <div class="col-input select-input width-100">
                      <div class="control">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" class="form-control check-box" required>
                        <label for="vehicle1" class="label">I authorize Club Mahindra to call/email/SMS/Whatsapp me for membership plans and ongoing promotions and offers</label>
                      </div>
                      <p class="invalid">Please select.</p>
                    </div>
                  </form>
                  <button type="submit" data-form-id="connectUs" 
                      class="formSumit submit-btn width-100">Submit</button>
                </div>
              </aside>
          </div>

        </div>
        </section>
        <section class="grid-container">
          <div class="container">
            <div class="di-flex flex-containt">
              <div class="lt-side">
                <div class="calculator">
                  <div class="show-data">
                  <h3 class="cb-title">Distance Calculator and Driving Directions</h3>
                  <!-- <div class="di-flex input-from-to"> -->
                    <form class="form-content" id="fromTo">
                      <div class="di-flex from-input-container">
                      <div class="col-input">
                        <label for="fromLoca" class="form-label">Distance From</label>
                        <div class="control">
                          <img class="img-sym" src="<%= require('./img/location.svg') %>" alt="">
                            <select name class="form-control" required id="fromLoca">
                              <option value class="placeholder">Mumbai</option>
                              <option value="1">Mumbai</option>
                              <option value="2">Delhi</option>
                              <option value="2">Banglore</option>
                              <option value="2">Pune</option>
                            </select>
                        </div>
                        <!-- <p class="invalid">Please select location.</p> -->
                      </div>
                      <div class="col-input">
                        <label for="fromLoca" class="form-label">Distance To</label>
                        <div class="control">
                          <img class="img-sym"  src="<%= require('./img/location.svg') %>" alt="">

                          <select name class="form-control" required>
                            <option value class="placeholder">Location</option>
                            <option value="1">Mumbai</option>
                            <option value="2">Delhi</option>
                            <option value="2">Banglore</option>
                            <option value="2">Pune</option>
                          </select>
                        </div>
                        <!-- <p class="invalid">Please select location.</p> -->
                      </div>
                    </div>
                    <button class="get-distance" type="submit">Get Distance and Directions</button>
                    </form>
                    <div class="how-to-reach">
                      <h3 class="cb-title">How to Reach Mumbai to Pune</h3>
                      <div class="di-grid reach-box">
                        <div class="fromTo"> <img src="./img/car.webp" alt="">Driving Distance:</div>
                        <div class="distance">159.73 km</div>
                        <div class="time">2 hours 59 minutes</div>

                        <div class="fromTo"> <img src="./img/train.webp" alt=""> Mumbai to Pune 
                          Train Distance</div>
                        <div class="distance">148 km</div>
                        <div class="time">3 hours 40 minutes</div>

                        <div class="fromTo"> <img src="./img/airoplan.webp" alt="">Flight or air distance:</div>
                        <div class="distance">120.09 km</div>
                        <div class="time">1 hours 20 minutes</div>
                      </div>
                    </div>
                  </div>
                    <img src="./img/map.webp" alt="">

                </div>
              
                <div class="route-info">
                  <div class="content">
                    <h4 class="title">Mumbai to Pune Best Route</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur delectus provident eaque, aliquid, sed itaque voluptatibus sequi, necessitatibus officiis error ipsum perferendis aperiam eos. Consequatur quasi laboriosam praesentium necessitatibus doloremque?</p>
                  </div>
                  <div class="content">
                    <h4 class="title">Other means of Traveling from Mumbai to Pune</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur delectus provident eaque, aliquid, sed itaque voluptatibus sequi, necessitatibus officiis error ipsum perferendis aperiam eos. Consequatur quasi laboriosam praesentium necessitatibus doloremque?</p>
                  </div>
                  <div class="content">
                    <h4 class="title">How to Reach Pune by Train</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur delectus provident eaque, aliquid, sed itaque voluptatibus sequi, necessitatibus officiis error ipsum perferendis aperiam eos. Consequatur quasi laboriosam praesentium necessitatibus doloremque?</p>
                  </div>
                  <div class="content">
                    <h4 class="title">Best time to Visit Pune</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur delectus provident eaque, aliquid, sed itaque voluptatibus sequi, necessitatibus officiis error ipsum perferendis aperiam eos. Consequatur quasi laboriosam praesentium necessitatibus doloremque?</p>
                  </div>
                </div>
                <div class="largest-section" id="blog-section">
                  <div class="di-flex title-box">
                    <h2 class="sub-title">Places To Visit In Pune </h2>
                    <div class="nav-button">
                      <button class="prev-nav"><i class="arrow left"></i></button>
                      <button class="next-nav"><i class="arrow right"></i></button>
                    </div>
                  </div>
                  <div id="visiteCarousel" class="owl-carousel owl-theme blog-carousel">
                    <div class="item">
                      <a class="banner-item" href="#!">
                        <img src="<%= require('./img/Blogs1.jpg') %>" alt="" class="bg-img">
                        <div class="content">
                          <div class="text-content">
                            <h2>Know the Important Tourist Places in and Around Wayanad</h2>
                           
                            <a href="#!" class="read-more">Read More <i class="arrow right"></i></a>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="item">
                      <a class="banner-item" href="#!">
                        <img src="<%= require('./img/Blogs1.jpg') %>" alt="" class="bg-img">
                        <div class="content">
                          <div class="text-content">
                            <h2>Know the Important Tourist Places in and Around Wayanad</h2>
                            <a href="#!" class="read-more">Read More <i class="arrow right"></i></a>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="item">
                      <a class="banner-item" href="#!">
                        <img src="<%= require('./img/Blogs1.jpg') %>" alt="" class="bg-img">
                        <div class="content">
                          <div class="text-content">
                            <h2>Know the Important Tourist Places in and Around Wayanad</h2>
                            <a href="#!" class="read-more">Read More <i class="arrow right"></i></a>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="item">
                      <a class="banner-item" href="#!">
                        <img src="<%= require('./img/Blogs1.jpg') %>" alt="" class="bg-img">
                        <div class="content">
                          <div class="text-content">
                            <h2>Know the Important Tourist Places in and Around Wayanad</h2>
                            <a href="#!" class="read-more">Read More <i class="arrow right"></i></a>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="largest-section" id="blog-section1">
                  <div class="di-flex title-box">
                    <h2 class="sub-title">Popular food in Pune</h2>
                    <div class="nav-button">
                      <button class="prev-nav"><i class="arrow left"></i></button>
                      <button class="next-nav"><i class="arrow right"></i></button>
                    </div>
                  </div>
                  <div id="visiteCarousel1" class="owl-carousel owl-theme blog-carousel">
                    <div class="item">
                      <a class="banner-item" href="#!">
                        <img src="<%= require('./img/Blogs1.jpg') %>" alt="" class="bg-img">
                        <div class="content">
                          <div class="text-content">
                            <h2>Know the Important Tourist Places in and Around Wayanad</h2>
                           
                            <a href="#!" class="read-more">Read More <i class="arrow right"></i></a>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="item">
                      <a class="banner-item" href="#!">
                        <img src="<%= require('./img/Blogs1.jpg') %>" alt="" class="bg-img">
                        <div class="content">
                          <div class="text-content">
                            <h2>Know the Important Tourist Places in and Around Wayanad</h2>
                            <a href="#!" class="read-more">Read More <i class="arrow right"></i></a>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="item">
                      <a class="banner-item" href="#!">
                        <img src="<%= require('./img/Blogs1.jpg') %>" alt="" class="bg-img">
                        <div class="content">
                          <div class="text-content">
                            <h2>Know the Important Tourist Places in and Around Wayanad</h2>
                            <a href="#!" class="read-more">Read More <i class="arrow right"></i></a>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="item">
                      <a class="banner-item" href="#!">
                        <img src="<%= require('./img/Blogs1.jpg') %>" alt="" class="bg-img">
                        <div class="content">
                          <div class="text-content">
                            <h2>Know the Important Tourist Places in and Around Wayanad</h2>
                            <a href="#!" class="read-more">Read More <i class="arrow right"></i></a>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="largest-section" id="blog-section2">
                  <div class="di-flex title-box">
                    <h2 class="sub-title">Things to Do in Pune </h2>
                    <div class="nav-button">
                      <button class="prev-nav"><i class="arrow left"></i></button>
                      <button class="next-nav"><i class="arrow right"></i></button>
                    </div>
                  </div>
                  <div id="visiteCarousel2" class="owl-carousel owl-theme blog-carousel">
                    <div class="item">
                      <a class="banner-item" href="#!">
                        <img src="<%= require('./img/food-pune.jpg') %>" alt="" class="bg-img">
                        <div class="content">
                          <div class="text-content">
                            <h2>Know the Important Tourist Places in and Around Wayanad</h2>
                            <a href="#!" class="read-more">Read More <i class="arrow right"></i></a>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="item">
                      <a class="banner-item" href="#!">
                        <img src="<%= require('./img/Blogs1.jpg') %>" alt="" class="bg-img">
                        <div class="content">
                          <div class="text-content">
                            <h2>Know the Important Tourist Places in and Around Wayanad</h2>
                            <a href="#!" class="read-more">Read More <i class="arrow right"></i></a>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="item">
                      <a class="banner-item" href="#!">
                        <img src="<%= require('./img/Blogs1.jpg') %>" alt="" class="bg-img">
                        <div class="content">
                          <div class="text-content">
                            <h2>Know the Important Tourist Places in and Around Wayanad</h2>
                            <a href="#!" class="read-more">Read More <i class="arrow right"></i></a>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="item">
                      <a class="banner-item" href="#!">
                        <img src="<%= require('./img/Blogs1.jpg') %>" alt="" class="bg-img">
                        <div class="content">
                          <div class="text-content">
                            <h2>Know the Important Tourist Places in and Around Wayanad</h2>
                            <a href="#!" class="read-more">Read More <i class="arrow right"></i></a>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="rt-side">
                <div class="popular-routes">
                  <h3 class="cb-title">Popular Routes to Pune</h3>
                  <div class="di-grid rourtes">
                    <div class="fromTo"><strong>Important Routes</strong> </div>
                    <div class="distance"><strong> Time Taken</strong></div>
                    <div class="time"><strong> Distance</strong></div>	               	
                    <div class="fromTo">Chennai to Pune</div>
                    <div class="distance">17 hours 32 mins</div>
                    <div class="time">1,194 km</div>

                    <div class="fromTo">Mumbai to Pune</div>
                    <div class="distance">2 hours 39 mins</div>
                    <div class="time">148 km</div>
                                          
                    <div class="fromTo">Bangalore to Pune</div>
                    <div class="distance"> 12 hours 18 mins</div>
                    <div class="time">841 km</div>
                  </div>
                  <a href="#!" class="see-more">See More</a>
                </div>
                <div class="popular-routes">
                  <h3 class="cb-title">Popular Routes to Pune</h3>
                  <div class="di-grid rourtes">
                    <div class="fromTo"><strong>Important Routes</strong> </div>
                    <div class="distance"><strong> Time Taken</strong></div>
                    <div class="time"><strong> Distance</strong></div>	               	
                    <div class="fromTo">Chennai to Pune</div>
                    <div class="distance">17 hours 32 mins</div>
                    <div class="time">1,194 km</div>

                    <div class="fromTo">Mumbai to Pune</div>
                    <div class="distance">2 hours 39 mins</div>
                    <div class="time">148 km</div>
                                          
                    <div class="fromTo">Bangalore to Pune</div>
                    <div class="distance"> 12 hours 18 mins</div>
                    <div class="time">841 km</div>
                  </div>
                  <a href="#!" class="see-more">See More</a>
                </div>
                <div class="check-out-details ">
                  <h3 class="cb-title">Checkout our resorts</h3>
                  <div class="set-box">
                      <select name="" id="">
                          <option value="">Goa</option>
                          <option value="">Mumbai</option>
                          <option value="">Delhi</option>
                          <option value="">Banglor</option>
                          <option value="">Kalyan</option>
                          <option value="">Dadar </option>
                          <option value="">Goa</option>
                      </select>
                  </div>

                  <div class="cas">
                    <div class="owl-carousel owl-theme placesCards places-cards">
                      <div class="item" data-dot="<button>1</button>">
                        <div class="cas-in">
                          <div class="lft-img">
                              <img src="<%= require('./img/lft-img-1.png') %>" alt="">
                          </div>
                          <div class="lft-txt">
                              <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur
                              </p>
                              <a class="arrow" href="#"> Book Now <img src="<%= require('./img/arrow.png') %>"
                                      alt=""></a>
                          </div>
                        </div>
                        <div class="cas-in">
                          <div class="lft-img">
                              <img src="<%= require('./img/lft-img-2.png') %>" alt="">
                          </div>
                          <div class="lft-txt">
                              <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur
                              </p>
                              <a class="arrow" href="#"> Book Now <img src="<%= require('./img/arrow.png') %>"
                                      alt=""></a>
                          </div>
                        </div>
                        <div class="cas-in">
                          <div class="lft-img">
                              <img src="<%= require('./img/lft-img-3.png') %>" alt="">
                          </div>
                          <div class="lft-txt">
                              <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur
                              </p>
                              <a class="arrow" href="#"> Book Now <img src="<%= require('./img/arrow.png') %>"
                                      alt=""></a>
                          </div>
                        </div>
                      </div>
                      <div class="item" data-dot="<button>2</button>">
                        <div class="cas-in">
                          <div class="lft-img">
                              <img src="<%= require('./img/lft-img-1.png') %>" alt="">
                          </div>
                          <div class="lft-txt">
                              <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur
                              </p>
                              <a class="arrow" href="#"> Book Now <img src="<%= require('./img/arrow.png') %>"
                                      alt=""></a>
                          </div>
                        </div>
                        <div class="cas-in">
                          <div class="lft-img">
                              <img src="<%= require('./img/lft-img-2.png') %>" alt="">
                          </div>
                          <div class="lft-txt">
                              <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur
                              </p>
                              <a class="arrow" href="#"> Book Now <img src="<%= require('./img/arrow.png') %>"
                                      alt=""></a>
                          </div>
                        </div>
                        <div class="cas-in">
                          <div class="lft-img">
                              <img src="<%= require('./img/lft-img-3.png') %>" alt="">
                          </div>
                          <div class="lft-txt">
                              <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur
                              </p>
                              <a class="arrow" href="#"> Book Now <img src="<%= require('./img/arrow.png') %>"
                                      alt=""></a>
                          </div>
                        </div>
                      </div>
                      <div class="item" data-dot="<button>3</button>">
                        <div class="cas-in">
                          <div class="lft-img">
                              <img src="<%= require('./img/lft-img-1.png') %>" alt="">
                          </div>
                          <div class="lft-txt">
                              <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur
                              </p>
                              <a class="arrow" href="#"> Book Now <img src="<%= require('./img/arrow.png') %>"
                                      alt=""></a>
                          </div>
                        </div>
                        <div class="cas-in">
                          <div class="lft-img">
                              <img src="<%= require('./img/lft-img-2.png') %>" alt="">
                          </div>
                          <div class="lft-txt">
                              <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur
                              </p>
                              <a class="arrow" href="#"> Book Now <img src="<%= require('./img/arrow.png') %>"
                                      alt=""></a>
                          </div>
                        </div>
                        <div class="cas-in">
                          <div class="lft-img">
                              <img src="<%= require('./img/lft-img-3.png') %>" alt="">
                          </div>
                          <div class="lft-txt">
                              <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur
                              </p>
                              <a class="arrow" href="#"> Book Now <img src="<%= require('./img/arrow.png') %>"
                                      alt=""></a>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="item" data-dot="<button>2</button>">
                        <div class="cas-in">
                          <div class="lft-img">
                              <img src="<%= require('./img/lft-img-1.png') %>" alt="">
                          </div>
                          <div class="lft-txt">
                              <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur
                              </p>
                              <a class="arrow" href="#"> Book Now <img src="<%= require('./img/arrow.png') %>"
                                      alt=""></a>
                          </div>
                        </div>
                        <div class="cas-in">
                          <div class="lft-img">
                              <img src="<%= require('./img/lft-img-2.png') %>" alt="">
                          </div>
                          <div class="lft-txt">
                              <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur
                              </p>
                              <a class="arrow" href="#"> Book Now <img src="<%= require('./img/arrow.png') %>"
                                      alt=""></a>
                          </div>
                        </div>
                        <div class="cas-in">
                          <div class="lft-img">
                              <img src="<%= require('./img/lft-img-3.png') %>" alt="">
                          </div>
                          <div class="lft-txt">
                              <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur
                              </p>
                              <a class="arrow" href="#"> Book Now <img src="<%= require('./img/arrow.png') %>"
                                      alt=""></a>
                          </div>
                        </div>
                      </div>
                      <div class="item" data-dot="<button>3</button>">
                        <div class="cas-in">
                          <div class="lft-img">
                              <img src="<%= require('./img/lft-img-1.png') %>" alt="">
                          </div>
                          <div class="lft-txt">
                              <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur
                              </p>
                              <a class="arrow" href="#"> Book Now <img src="<%= require('./img/arrow.png') %>"
                                      alt=""></a>
                          </div>
                        </div>
                        <div class="cas-in">
                          <div class="lft-img">
                              <img src="<%= require('./img/lft-img-2.png') %>" alt="">
                          </div>
                          <div class="lft-txt">
                              <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur
                              </p>
                              <a class="arrow" href="#"> Book Now <img src="<%= require('./img/arrow.png') %>"
                                      alt=""></a>
                          </div>
                        </div>
                        <div class="cas-in">
                          <div class="lft-img">
                              <img src="<%= require('./img/lft-img-3.png') %>" alt="">
                          </div>
                          <div class="lft-txt">
                              <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur
                              </p>
                              <a class="arrow" href="#"> Book Now <img src="<%= require('./img/arrow.png') %>"
                                      alt=""></a>
                          </div>
                        </div>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        
      
        
      </main>
    </div>
    
    <footer></footer>
    <a href="#!" class="sticky-btn-book-apt gotToForm effect-btn mutiStepForm_open">JOIN THE CLUB</a>
  </body>
</html>
