<!-- <header class="acc-header inernal-click" id="top-menu"> -->
  <div class="container">
    <div class="di-flex">
      <a href="#!" class="mobile-menu-btn toggle_icon">
        <img src="<%= require('./assets/images/menu.png') %>" alt="">
      </a>
      <a href="./index.html" class="logo-box">
        <img src="<%= require('./img/club-mahindra-blog-logo.png') %>" alt="">
      </a>
      <div class="all-in-one mobile-menu">
        <div class="link-cotainer desk-menu">
          <a class="close-link toggle_icon">
            <img src="<%= require('./assets/images/close.png') %>" alt="">
          </a>
          <ul class="nav-bar">
                                    

            <li class="nav-item">
              <a href="./about-us.html" class="link nav-acc-link">Resorts</a>
              <div class="di-flex sub-list ">
                <div class="img-box">
                  <img src="<%= require('./img/club-mahindra-blog-logo.png') %>" alt="">
                </div>
                <div>
                  <div class="nav-item">
                    <a class="pos-top" href="./about-us.html#approach">Approach</a>
                  </div>
                  <div class="nav-item">
                    <a class="pos-top" href="./about-us.html#funds">Funds</a>
                  </div>
                  <div>
                    <a class="pos-top" href="./about-us.html#sectors">Sectors</a>
                  </div>
                  <div>
                    <a class="pos-top" href="./about-us.html#awards">Awards</a>
                  </div>
                  <div>
                    <a class="pos-top" href="./about-us.html#reach">Locations</a>
                  </div>
                </div>
                <div>
                  <div class="nav-item">
                    <a class="pos-top" href="./about-us.html#approach">Approach</a>
                  </div>
                  <div class="nav-item">
                    <a class="pos-top" href="./about-us.html#funds">Funds</a>
                  </div>
                  <div>
                    <a class="pos-top" href="./about-us.html#sectors">Sectors</a>
                  </div>
                  <div>
                    <a class="pos-top" href="./about-us.html#awards">Awards</a>
                  </div>
                  <div>
                    <a class="pos-top" href="./about-us.html#reach">Locations</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a class="link nav-acc-link" href="./esg.html">Membership</a>
              <ul class="sub-list aa">
                <li><a class="pos-top" href="./esg.html#ourcommitment">Our Commitment</a></li>
                <li><a class="pos-top" href="./esg.html#ourapproach">Our Approach</a></li>
                <li><a class="pos-top" href="./esg.html#section1">Dedicated ESG team</a></li>
                <li><a class="pos-top" href="./esg.html#impactmanagementframework">Impact Management Framework</a></li>
                <li>
                  <a class="pos-top" href="./resources-reports.html">Sustainability Resources & Reports</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="link nav-acc-link" href="./teams.html">Experiences</a>
              <ul class="sub-list">
                <li>
                  <a class="pos-top" href="./teams.html#section2">Senior Private Equity Team</a>
                </li>
                <li>
                  <a class="pos-top" href="./teams.html#section3">Corporate Team</a>
                </li>
                <li>
                  <a class="pos-top" href="./teams.html#section4">Senior Directors &amp; Operating Partners</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="link" href="./media.html">Blog</a>
            </li>
            <li class="nav-item">
              <a class="link nav-acc-link" href="./contact.html">Member login</a>
              <ul class="sub-list ">
                <li>
                  <a class="pos-top" href="./contact.html#contactUs">Email Us</a>
                </li>
                <li>
                  <a class="pos-top" href="./contact.html#singapore">Singapore</a>
                </li>
                <li>
                  <a class="pos-top" href="./contact.html#mumbai">Mumbai</a>
                </li>
                <li>
                  <a class="pos-top" href="./contact.html#gurgaon">Gurgaon</a>
                </li>
                <li>
                  <a class="pos-top" href="./contact.html#delhi">Delhi</a>
                </li>
                <li>
                  <a class="pos-top" href="./contact.html#bengaluru">Bengaluru</a>
                </li>
                <li>
                  <a class="pos-top" href="./contact.html#newYork">New York</a>
                </li>
                <li>
                  <a class="pos-top" href="./contact.html#dubai">Dubai</a>
                </li>
                <li>
                  <a class="pos-top" href="./contact.html#mauritius">Mauritius</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="link-cotainer mob-menu">
          <a class="close-link toggle_icon">
            <img src="<%= require('./assets/images/close.png') %>" alt="">
          </a>
          <section id="only-one" data-accordion-group>
            <section data-accordion class="">
              <a href="./about-us.html" class="link nav-acc-link pos-top">About Us</a><button data-control></button>
              <div data-content>
                <article class="nav-item"><a class="pos-top" href="./about-us.html#approach">Approach</a></article>
                <article class="nav-item"><a class="pos-top" href="./about-us.html#funds">Funds</a></article>
                <article><a class="pos-top" href="./about-us.html#sectors">Sectors</a></article>
                <article><a class="pos-top" href="./about-us.html#awards">Awards</a></article>
                <article><a class="pos-top" href="./about-us.html#reach">Locations</a></article>
              </div>
            </section>
            <section data-accordion>
              <a class="link nav-acc-link" href="./esg.html">Responsible Investing</a><button data-control></button>
              <div data-content>
                <article><a class="pos-top" href="./esg.html#ourcommitment">Our Commitment</a></article>
                <article><a class="pos-top" href="./esg.html#ourapproach">Our Approach</a></article>
                <article><a class="pos-top" href="./esg.html#section1">Dedicated ESG team</a></article>
                <article><a class="pos-top" href="./esg.html#impactmanagementframework">Impact Management Framework</a></article>
                <article><a class="pos-top" href="./resources-reports.html">Sustainability Resources & Reports</a></article>
              </div>
            </section>
            <section data-accordion>
              <a class="link" href="teams.html">Team</a><button data-control></button>
              <div data-content>
                <article>
                  <a class="pos-top" href="./teams.html#section2">Senior Private Equity Team</a>
                </article>
                <article>
                  <a class="pos-top" href="./teams.html#section3">Corporate Team</a>
                </article>
                <article>
                  <a class="pos-top" href="./teams.html#section4">Senior Directors &amp; Operating Partners</a>
                </article>                                      
              </div>
            </section>            
            <section class="single-menu" data-accordion>
              <a class="link" href="./media.html">Media</a>                 
            </section>
            <section data-accordion>
              <a class="link nav-acc-link" href="./contact.html">Contact Us</a><button data-control></button>
              <div data-content>
                <article>
                  <a class="pos-top" href="./contact.html#contactUs">Email Us</a>
                </article>
                <article>
                  <a class="pos-top" href="./contact.html#singapore">Singapore</a>
                </article>
                <article>
                  <a class="pos-top" href="./contact.html#mumbai">Mumbai</a>
                </article>
                <article>
                  <a class="pos-top" href="./contact.html#gurgaon">Gurgaon</a>
                </article>
                <article>
                  <a class="pos-top" href="./contact.html#delhi">Delhi</a>
                </article>
                <article>
                  <a class="pos-top" href="./contact.html#bengaluru">Bengaluru</a>
                </article>
                <article>
                  <a class="pos-top" href="./contact.html#newYork">New York</a>
                </article>
                <article>
                  <a class="pos-top" href="./contact.html#dubai">Dubai</a>
                </article>
                <article>
                  <a class="pos-top" href="./contact.html#mauritius">Mauritius</a>
                </article>
              </div>
            </section>
          </section>
          <div class="box-struc-grid">
            <div class="box "></div>
            <div class="box "></div>
            <div class="box "></div>
            <div class="box fill"></div>
            <div class="box "></div>
            <div class="box fill"></div>
            <div class="box fill"></div>
            <div class="box fill"></div>
            <div class="box fill"></div>
            <div class="box "></div>
            <div class="box fill"></div>
            <div class="box fill"></div>
          </div>
        </div>
      </div>
        <div class="login-search">
      
          <a href="#!" class="login-btn" target="_blank" rel="noopener noreferrer">
            Join The Club
          </a>
        </div>
    </div>
  </div>
<!-- </header> -->