<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
  <link href="./favicon.ico" rel="icon" />
  <meta content="" name="description" />
  <meta content="" name="keywords" />
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <link rel="icon" src="favicon.ico" />
</head>

<body data-barba="wrapper">

  <div class="wrapper" data-barba="container" data-barba-namespace="home">
    <header></header>
    <!-- <div class="main-header">
        asghg Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam explicabo corporis beatae illo perspiciatis consequuntur mollitia reprehenderit voluptatibus aliquid magnam quia nam exercitationem hic, officiis odit accusamus molestias excepturi iure!
        
      </div> -->

    <main class="main-warpper home-page">
      <img src="<%= require('./img/king.png') %>" alt="">



    </main>
  </div>

  <!-- <footer></footer> -->
  <div class="footer-wrapper">
    <div class="container">
      <h2>Popular Search Resorts</h2>


      <ul class="pop-resort">
        <li><a href="javascript:void(0);"> Resort in Goa </a></li>
        <li><a href="javascript:void(0);"> Resort in Shimla </a></li>
        <li><a href="javascript:void(0);"> Resort in Manali </a></li>
        <li><a href="javascript:void(0);"> Resort in Daman </a></li>
        <li><a href="javascript:void(0);"> Resort in Alappuzha </a></li>
        <li><a href="javascript:void(0);"> Resort in Kashmir </a></li>
        <li><a href="javascript:void(0);"> Resort in Coorg </a></li>
        <li><a href="javascript:void(0);"> Resort in Hampi </a></li>
        <li><a href="javascript:void(0);"> Resort in Uttarakhand </a></li>
        <li><a href="javascript:void(0);"> Resort in Munnar </a></li>
        <li><a href="javascript:void(0);"> Resort in Ladakh </a></li>
        <li><a href="javascript:void(0);"> Resort in Alibaug </a></li>
        <li><a href="javascript:void(0);"> Resort in Mussoorie </a></li>
        <li><a href="javascript:void(0);"> Resort in Darjeeling </a></li>
        <li><a href="javascript:void(0);"> Resort in Mahabaleshwar </a></li>
        <li><a href="javascript:void(0);"> Resort in Agra </a></li>
        <li><a href="javascript:void(0);"> Resort in Mysore </a></li>
        <li><a href="javascript:void(0);"> Resort in Daman </a></li>
        <li><a href="javascript:void(0);"> Resort in Diu </a></li>
        <li><a href="javascript:void(0);"> Resort in Ooty </a></li>
        <li><a href="javascript:void(0);"> Resorts in Kerala </a></li>
        <li><a href="javascript:void(0);"> Resorts in Rajasthan </a></li>
        <li><a href="javascript:void(0);"> Resort in Meghalaya </a></li>
      </ul>

      <div class="middle-footer">    
        <div class="lft-footmenu m-footmenu">
          <div class="m-footlist">
            <h3>Domestic Resorts</h3>
            <ul>
              <li><a href="javascript:void(0);"> Resort in Goa</a></li>
              <li><a href="javascript:void(0);"> Resort in Kerala</a></li>
              <li><a href="javascript:void(0);"> Resort in Himachal Pradesh</a></li>
              <li><a href="javascript:void(0);"> Resorts in Sikkim</a></li>
              <li><a href="javascript:void(0);"> Resorts in Ooty</a></li>
              <li><a href="javascript:void(0);"> More</li>
            </ul>
          </div>   
      
          <div class="m-footlist">
            <h3>Investors</h3>
            <ul>
              <li><a href="javascript:void(0);"> Board of Directors & Committees</a></li>
              <li><a href="javascript:void(0);"> Financials</a></li>
              <li><a href="javascript:void(0);"> Stock Exchange Filing</a></li>
              <li><a href="javascript:void(0);"> Investor Relations</a></li>
              <li><a href="javascript:void(0);"> Stock updates - BSE</a></li>
              <li><a href="javascript:void(0);"> Stock updates - NSE</a></li>
            </ul>
          </div>     
      
          <div class="m-footlist">
            <h3>About Us</h3>
            <ul>
              <li><a href="javascript:void(0);"> Awards</a></li>
              <li><a href="javascript:void(0);"> Career</a></li>
              <li><a href="javascript:void(0);"> Company Overview</a></li>
              <li><a href="javascript:void(0);"> Leadership</a></li>
              <li><a href="javascript:void(0);"> Corporate Sustainability & CSR</a></li>
            </ul>
          </div>     
      
          <div class="m-footlist">
            <h3>Experiences</h3>
            <ul>
              <li><a href="javascript:void(0);"> Stay Experiences </a></li>
              <li><a href="javascript:void(0);"> Signature Experiences</a></li>
              <li><a href="javascript:void(0);"> Indulge Your Senses</a></li>
              <li><a href="javascript:void(0);"> Children Love These</a></li>
              <li><a href="javascript:void(0);"> Dining Experiences</a></li>
            </ul>
          </div>     
      
          <div class="m-footlist">
            <h3>More</h3>
            <ul>
              <li><a href="javascript:void(0);"> Corporate Membership</a></li>
              <li><a href="javascript:void(0);"> Redeem Holiday Voucher</a></li>
              <li><a href="javascript:void(0);"> Business Partner Login</a></li>
              <li><a href="javascript:void(0);"> Bliss</a></li>
              <li><a href="javascript:void(0);"> Gozest</a></li>
              <li><a href="javascript:void(0);"> Member Login</a></li>
            </ul>
          </div>     
      
          <div class="m-footlist">
            <h3>Magicstream</h3>
            <ul>
              <li><a href="javascript:void(0);"> Resorts </a></li>
              <li><a href="javascript:void(0);"> Feast</a></li>
              <li><a href="javascript:void(0);"> Alive</a></li>
              <li><a href="javascript:void(0);"> Soul</a></li>
              <li><a href="javascript:void(0);"> Travelogues</a></li>
              <li><a href="javascript:void(0);"> Explore</a></li>
            </ul>
          </div>     
      
          <div class="m-footlist">
            <h3>Community</h3>
            <ul>
              <li><a href="javascript:void(0);"> Travel Diaries</a></li>
              <li><a href="javascript:void(0);"> Making Every Moment Magical</a></li>
              <li><a href="javascript:void(0);"> Social Buzz</a></li>
              <li><a href="javascript:void(0);"> Blogs</a></li>
            </ul>
          </div>      
      
          <div class="m-footlist">
            <h3>Blog</h3>
            <ul>
              <li><a href="javascript:void(0);"> Experiences</a></li>
              <li><a href="javascript:void(0);"> Places to Visit</a></li>
              <li><a href="javascript:void(0);"> Things to Do</a></li>
              <li><a href="javascript:void(0);"> For Kids</a></li>
              <li><a href="javascript:void(0);"> Travel Stories</a></li>
              <li><a href="javascript:void(0);"> Travel Guide</a></li>
            </ul>
          </div>      
      
          <div class="m-footlist">
            <h3>Media</h3>
            <ul>
              <li><a href="javascript:void(0);"> Press Releases</a></li>
              <li><a href="javascript:void(0);"> Media Contacts</a></li>
              <li><a href="javascript:void(0);"> In The News</a></li>
              <li><a href="javascript:void(0);"> Partner with us</a></li>
              <li><a href="javascript:void(0);"> Gourmet Getaways</a></li>
              <li><a href="javascript:void(0);"> Resort Development</a></li>
            </ul>
          </div>      
      
          <div class="m-footlist">
            <h3>Feedback</h3>
            <ul>
              <li><a href="javascript:void(0);"> DND Registry</a></li>
              <li><a href="javascript:void(0);"> Grievance Redressal</a></li>
              <li><a href="javascript:void(0);"> Franchise Opportunity</a></li>
              <li><a href="javascript:void(0);"> RCI</a></li>
            </ul>
          </div>
      
        </div> <!-- //end lft-footmenu -->
      
        <div class="rgt-footmenu m-footmenu">
          <div class="m-footlist">
            <h3>Contact Us</h3>
            <ul>
              <li>Customer Care Numbers</li>
              <li> New Memberships</li>
              <li> 1800 209 2345</li>
              <li> IST - 9:00AM to 9:00PM</li>
              <li> Existing members - India</li>
              <li> 1800 266 8899</li>
              <li> IST - 9:30AM to 6:30PM (Mon to Sat)</li>
              <li> For Existing members - International</li>
              <li> 022 69779510 </li>
              <li> IST - 9:30AM to 6:30PM (Mon to Sat)</li>
              <li> For Member Enquiries</li>
              <li> memberexperience@mahindraholidays.com</li>
              <li> For Franchisee Enquiries</li>
              <li> business.partner@mahindraholidays.com</li>
            </ul>
          </div>
        </div> <!-- //end rgt-footmenu -->
      </div> <!-- //end middle-footer -->


    </div>


  </div>

</body>

</html>